<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Изменение статуса ордера</title>-->
<!--</head>-->
<!--<body>-->

<!--<h3>изменение статуса ордера</h3>-->
<!--&lt;!&ndash; привязываем объект к форме для извлечения в контроллере целый объект, из которого можно получить все поля формы &ndash;&gt;-->
<!--&lt;!&ndash; обращаемся к объекту product  и вызываем на нём метод getId, что вернёт айдишник редактируемого товара &ndash;&gt;-->
<!--&lt;!&ndash; динамич. пременная &ndash;&gt;-->
<!--<form th:method="POST" th:action="@{/ordersAdmin/orders/edit/{id}(id=${orders.getId()})}" th:object="${orders}" enctype="multipart/form-data">-->


<!--    <label for="status">выберите категорию индикатора: </label>-->
<!--    &lt;!&ndash; thymeleaf вводом в поле объекта класса и id для лейбла &ndash;&gt;-->
<!--    <select name="category" th:field="*{orders}" id="status">-->
<!--        &lt;!&ndash; цикл перебора thymeleaf(перебирается List категорий модели category &ndash;&gt;-->
<!--        <div th:each="element : ${ord}">-->
<!--            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>-->
<!--        </div>-->
<!--    </select>-->
<!--&lt;!&ndash;    &lt;!&ndash; валидация frontend &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div style="color:deeppink" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>&ndash;&gt;-->

<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->

<!--&lt;!&ndash;    <label for="seller">введите данные о продавце</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <textarea th:field="*{seller}" placeholder="продавец" id="seller"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; валидация frontend &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div style="color:deeppink" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>&ndash;&gt;-->

<!--    &lt;!&ndash;  <br>&ndash;&gt;-->
<!--    &lt;!&ndash;  <br>&ndash;&gt;-->

<!--    &lt;!&ndash;  <p style="color:deeppink">Вы можете добавить до 5 фото. Первое фото не может быть пустым, так как оно являеется главным при выводе карточки индикатора</p>&ndash;&gt;-->
<!--    &lt;!&ndash;  &lt;!&ndash; тип "файл" &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;  <input type="file" name="file_1">&ndash;&gt;-->
<!--    &lt;!&ndash;  <input type="file" name="file_2">&ndash;&gt;-->
<!--    &lt;!&ndash;  <input type="file" name="file_3">&ndash;&gt;-->
<!--    &lt;!&ndash;  <input type="file" name="file_4">&ndash;&gt;-->
<!--    &lt;!&ndash;  <input type="file" name="file_5">&ndash;&gt;-->

<!--    <br>-->
<!--    <br>-->

<!--    &lt;!&ndash; submit - с типом "перезагрузки"  &ndash;&gt;-->
<!--    <input type="submit" value="редактировать">-->

<!--</form>-->

<!--</body>-->
<!--</html>-->