<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="POST" th:action="@{personEdit}" th:object="${persons}" enctype="multipart/form-data">-->
<!--&lt;!&ndash; смена роли у пользователя &ndash;&gt;-->

<!--<label for="role">выберите роль пользователя: </label>-->
<!--&lt;!&ndash; thymeleaf вводом в поле объекта класса и id для лейбла &ndash;&gt;-->
<!--<select name="role" th:field="*{persons}" id="role">-->
<!--  &lt;!&ndash; цикл перебора thymeleaf(перебирается List категорий модели category &ndash;&gt;-->
<!--  <div th:each="element : ${persons}">-->
<!--    <option th:text="${element.getRole()}" th:value="${element.getId()}"></option>-->
<!--  </div>-->
<!--</select>-->

<!--<br>-->
<!--<br>-->

<!--&lt;!&ndash; submit - с типом "перезагрузки"  &ndash;&gt;-->
<!--<input type="submit" value="изменить роль">-->
<!--&lt;!&ndash; полоса &ndash;&gt;-->
<!--<hr>-->


<!--</form>-->



<!--</body>-->
<!--</html>-->